.toggle_drawer {
 position: fixed;
 left: 0;
 top: 0;
 width: 200px;
 height: 100%;
 z-index: 200;
 background-color: rgba(17, 59, 138, 0.3);
 transform: translateX(-100%);
 transition: transform 0.3s ease-out;
}

.open_drawer {
  transform: translateX(0%);
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}
.drower_list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  
}

.drawer_header{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.Home_icon h2{
  margin: 0px;
  padding: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  display: flex;
}
.drawer_body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

