.user_info {
  margin-right: 20px;
  padding: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  
}
.user_info :hover {
  cursor: pointer;
}

.user_Info_div {
  flex-direction: column;
}
.userInfo_dropdown{
  
}